<!-- navbar.ejs -->
<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item navLeft">
      <a href="/" class="navbar-link">Home</a>
    </li>
    <div class="navRight">
      <li class="navbar-item">
        <a href="/sign-up" class="navbar-link">Sign-Up</a>
      </li>
      <li class="navbar-item">
        <a href="/logout" class="navbar-link">Logout</a>
      </li>
      <li class="navbar-item">
        <a href="/login" class="navbar-link">Login</a>
      </li>
    </div>
  </ul>
</nav>
