<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="/styles.css" /> -->
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <br />
    <h1><%= title %></h1>
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
      voluptatem quasi molestiae autem cum esse magnam, quod, sed vel, quae vero
      velit similique ex atque nemo quibusdam. Doloribus, beatae ut?
    </p>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
